<!-- Container for the entire weather forecast section -->
<div class="container">
  <!-- Title for the weather forecast page -->
  <h1 class="title">Weather Forecast</h1>

  <!-- Placeholder to embed additional content by showing a gif -->
  <div class="iframe-container">
  </div>

  <!-- List of clickable options for different weather forecasts -->
  <ul class="list">
    <li class="list-group"><a (click)="forecastLWX()">Forecast District of Columbia Forecast (LWX)</a></li>
    <li class="list-group"><a (click)="forecastTOP()">Forecast Kansas Forecast (TOP)</a></li>
  </ul>
</div>
