 .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fffff2;
  border-radius: 10px;
  margin-top: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.iframe-container {
  position: relative;
  width: 100%;
  height: 180px;
  background-image: url('/assets/image/clouds.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 2.5em;
  font-family: "Sedan", serif;
  color:  #0c45e2;
  margin-bottom: 20px;
  text-shadow: 4px 4px 4px #5AB2FF ;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-group {
  margin: 10px 0;
}

.list-group a {
  display: block;
  padding: 10px;
  font-size: 1.5em;
  font-family: "Sedan", serif;
  text-decoration: none;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.list-group a:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}
